body {
    background-image: linear-gradient(#232b36, black);
    margin: 0;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    color: white;
    overflow: hidden;


}

#title{
    font-size: 50px;
    text-align: left;
    margin-left: 100px;
    padding-top: 50px;
}


#form_selector{
    margin-left: 100px;
    padding-bottom: 20px;
    width:450px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

